<div class="isotope-post quote span4">
  <div>
    <!-- Quote -->
    <div class="entry-quote">
      <blockquote><p><%=quote.quote %></p></blockquote>
    </div>

      <div class="entry drop-shadow curved ">
        <!-- Title -->
        <h5 class="heading">
          <a href="#"><%= quote.author %></a>
        </h5>

        <!-- Content -->
        <p><%= quote.note %></p>
        <div class="clearboth"></div>

        <!-- Meta -->
        <ul class="entry-meta">
          <li class="time">2 Days ago</li>
        </ul>

    </div>

  </div>
</div>

