// Place all the styles related to the home controller here.u
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

ul, ol {
margin-top: 0;
margin-bottom: 0px;
}

#upload-form{
  width: 273px;
  display: none;
  background-color: #42464d;
  box-shadow: 4px #676B77;
  border: 4px #4C5059 solid
}
#upload-form input{
  margin: auto;
  width: inherit;
  background-color: #42464d;
  color: black;
  border: none;
}
#sign-up-form{
  display: none;
  background-color: #40434c;
}


#upload-profile:hover{
text-decoration: underline;
}


#avatar{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  float: left;
}

#wrapper{
  margin-top: 20px;
}

.box button{
  float:right;
}


#avatar-update{
  width: 35px;
  height: 35px;
  border-radius: 50px;
  float: left;
}


.user-remove{
  float: right;
}


.footer {
  margin-top: 50px;
  color: #999;

a{
    color: #555;
  }
}

/* for jQuery Masonry */
.box {
   margin: 5px;
   padding: 5px;
   font-size: 11px;
   line-height: 1.4em;
   box-shadow: 1px 1px 10px #949393;
   width: 180px;
   word-wrap:break-word;
   float:left;
   min-height:1px;
   margin-left:20px;
}

.box-headings{
  text-align: center;
  font-size: 20px;
  color: #666;
  font-weight:bold;
  height: 40px;
  width: 100%;

}

.box-img{
  text-align: center;
  font-size: 20px;
  color: #666;
  font-weight:bold;
  height: 60px;
  width: 100%;
  padding-top: 10px;
}

.box-button{
  float: left;
  margin-top: 10px;
}
.box img {
  display: block;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.footer{
  margin-left: 10px;
}

.description{
  margin: 10px 0px 5px
}

