
<form>
  Title: <input id="board_title" type="text" name="board[title]">

  Username: <input class="board_users_username" type="text" name="board[user][username]" placeholder="Enter the username of the user">

  <div id="add-users">
    <h3>+</h3>
  </div>

  <div id="user-form">
  </div>

  <input id="create_board" type="submit">
</form>