
<form>
Title: <input id="board_title" type="text" name="board[title]"><br>
Email: <input class="board_users_email" type="text" name="board[user][email]" placeholder="Enter the email of a user">
<input id="create_board" type="submit">
</form>