<div class="isotope-post span4 link">
        <div>

          <!-- Link -->
          <div class="entry-link">
            <%=link_to link.title, link.link%>
          </div>

            <div class="entry drop-shadow curved">

              <!-- Title -->
                <h5 class="heading">
                  <%=link.title %>
                <!-- <a href="single-post-link.html">Awesome Link (Post Format)</a> -->
              </h5>

              <!-- Content -->
              <p>This is a super awesome link.</p>

              <!-- Meta -->
              <ul class="entry-meta">
                <li class="time">2 months ago</li>
              </ul>

          </div>

        </div>
      </div>