<div class="box">
<h3><a href="/boards/gon.board.id"><%= gon.board.title %></a></h3></br>
<img src="<%= gon.avatar %>", class="img-circle", height="30px", width="30px" >
<button data-id="<%= id  %>" data-method="delete">Delete</button></div>
</div>

