<<<<<<< HEAD
Email: <input class="board_users_email" type="text" name="board[user][email]" placeholder="Enter the email of a user">
<div id="add-users">
    <h3>+</h3>
</div>
=======
<hr>
Input Username: <input class="board_users_username" type="text" name="board[user][username]" placeholder="Enter the email of a user">
>>>>>>> master
