// Place all the styles related to the home controller here.u
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#upload-form{
  display: none;
}

#upload-profile:hover{
text-decoration: underline;
}

#avatar{
  width: auto;
  height: 30px;
  border-radius: 50px;
  float: left;
}

.box button{
  float:right;
}

